---
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import SocialPill from "./SocialPill.astro";
---

<div class="flex md:flex-row flex-col justify-center items-center mt-4 md:px-40">
    <img src="/Me.jpeg" alt="" class="size-36 rounded-full scroll-block">
    <section class="flex flex-col mt-4 scroll-block justify-center items-center">
        <p class="flex justify-center items-center w-full px-4 text-center">
            My name is Eddy Alejandro Guerra Rubio, I am a professional software developer. Currently, I serve as a Frontend Development Team Lead at Citmatel, where I build intuitive and scalable user interfaces. I hope you find my profile appealing.
        </p>
        <section class="flex flex-row scroll-block space-x-4">
            <SocialPill href="https://www.linkedin.com/in/eddy-alejandro-guerra-rubio-075224333/">
                    <LinkedInIcon class="size-10"/>
            </SocialPill>
        </section>
        <a href="/Currículum_vitae_Eddy_Alejandro_Guerra_Rubio.pdf" download class="mt-6 scroll-block rounded-lg border-solid border-2 p-4 hover:border-blue-500"> Download CV</a>
    </section>
</div>