---
import ContactButton from "./ContactButton.astro"

const CONTACT = [
    {
        title:'Mail',
        imagelink:'/Logos/mail.svg',
        link:'mailto:aleehguerra@gmail.com',
        buttonColor: '#2052BB',
    },
    {
        title:'GitHub',
        imagelink:'/Logos/github_dark.svg',
        link:'github.com/AleehkGuerra',
        buttonColor:'#283044',
    },
    {
        title:'LinkedIn',
        imagelink:'/Logos/linkedin.svg',
        link:'https://www.linkedin.com/in/eddy-alejandro-guerra-rubio-075224333/',
        buttonColor:'#8D99AE',
    }
]
---
<div class="flex flex-row mb-10 px-8 md:px-20 md:max-w-3xl  bg-slate-600/60 rounded-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start py-8 px-6">
    <section class="felx flex-col">
        <h1 class="text-4xl font-bold mb-4 text-yellow-300">
            Lets get in touch
        </h1>
        <p>Do you have interesting ideas for a project, lets get in touch for create incredible apps together. Share your ideas and meke them true</p>
        <h1 class="text-violet-400 font-semibold mt-6">
            Ready for your next big project
        </h1>
        <a href="mailto:aleehguerra@gmail.com">Get in Contact</a>
    </section>
    <section class="flex flex-col">
        <h1 class="mb-6 font-semibold text-2xl">
            Contact Information
        </h1>
    <ol class="flex flex-col gap-4">
        {CONTACT.map(contact=>(
            <li>
                <ContactButton {...contact}/>
            </li>
        ))}
    </ol>
    </section>
    </div>
</div>