---
import Banner from "./Banner.astro";
---

<div class="flex justify-center items-center flex-col mt-72">
<section class="flex flex-col items-center" ="aboutme">
    <h1 class="font-bold text-4xl">
        About Me
    </h1>
    <Banner/>
</section>
</div>