---
import Banner from "./Banner.astro";
import Contact from "./Contact.astro";
import Experience from "./Experience.astro";
import Projects from "./Projects.astro";
import TechStack from "./TechStack.astro";
import TechStackDesktop from "./TechStackDesktop.astro";
---

<div class="flex justify-center items-center flex-col mt-72 md:px-40">
<section class="flex flex-col items-center" ="aboutme">
    <h1 class="font-bold text-4xl" id="aboutme">
        About Me
    </h1>
    <Banner/>
    <h1 class="font-bold text-4xl mt-52" id="experience">Experience</h1>
    <Experience/>
    <h1 class="font-bold text-4xl mt-52 mb-10" id="projects">Projects</h1>
    <Projects/>
    <h1 class="font-bold text-4xl mt-52 mb-10" id="stack">Tecnologies</h1>
    <TechStack/>
    <TechStackDesktop/>
    <h1 class="font-bold text-4xl mt-48 mb-10" id="contact"> Contact Me</h1>
    <Contact/>
</section>
</div>