---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import '../styles/global.css'
---
<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/square-code.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Eddy Alejandro Guerra Rubio">
		<meta name="description" content="Eddy Guerra Rubio - Frontend Developer Portfolio. Explore my projects and contact me for potential collaborations">
		<meta name="keywords" content="portfolio, web development, frontend, JavaScript, Cuba, desarrollo web">
		<title>Aleehks | Desarrollador de Software | Especialista en desarrollo Frontend</title>
	</head>
	<body class="flex px-10 items-center w-screen min-h-screen relative text-white justify-center flex-col">
		<div class="absolute top-0 inset-0 -z-10 min-h-screen w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
		<Navbar/>
		<slot />
		<Footer/>
	</body>
</html>

